html {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

body {
  /* background-color: #4e99ea; */
  background-color: #57d5b1;
  font-family: "Open Sans";
  font-size: max(2.5vh, 20px);
  margin: 0px;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  justify-content: center;
}

#login-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

#login-form {
  display: flex;
  flex-direction: column;
  max-width: min(75vw, 50vh);
  padding-bottom: 100px;
  flex-grow: 1;
}

#login-form > input,
#login-form > button {
  margin: 0.5vh;
  padding: 7px 15px;
  min-height: 50px;
  min-width: 250px;
  height: 5vh;
  border-radius: 10px;
  border: solid 1px gray;
  box-sizing: border-box;
}

#login-form > button:hover {
  cursor: pointer;
}

#login-form > button {
  background-color: #3598bf;
  color: white;
}

#login-form > button[disabled] {
  background-color: #70b8d5;
}

#unauthorized {
  background-color: #f2935d;
  color: #7d2d00;
  padding: 5px;
  text-align: center;
  border-radius: 10px;
  margin: 5px;
}

.menu {
  display: flex;
  background-color: #094e77;
  z-index: 1;
  color: white;
  text-align: center;
  font-size: max(14px, 2vh);
  order: 1;
  flex-direction: row;
  flex-wrap: wrap;
}

.menu img {
  width: max(30px, 4.5vh);
  height: max(30px, 4.5vh);
}

.menu > div:not(#context-menu) {
  display: flex;
  flex-direction: column;
  margin: 10px 7px;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
}

.menu > div:hover {
  cursor: pointer;
}

#context-menu-icon {
  padding: 5px max(5px, 2vw);
  flex-grow: 0;
  order: 1;
}

#context-menu {
  background-color: white;
  color: black;
  box-shadow: 2px 2px 2px black;
  flex-basis: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
}

.context-menu-row {
  padding: 10px;
  width: 100%;
}

.dot {
  background-color: white;
  width: 40px;
  height: 7px;
  margin: 5px;
  border-radius: 10px;
}

#main-content {
  width: 100%;
  overflow: auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.active-menu-item {
  background-color: #70b8d5;
  border-radius: 20px;
}

.home-section {
  background-color: #addeea;
  border-radius: 20px;
  margin: 10px;
}

.home-section .value {
  text-align: center;
  background-image: url("images/progress_fill.png");
  background-repeat: no-repeat;
}

.home-section-header {
  background-color: white;
  padding: 10px;
  border-radius: 10px 10px 0 0;
}

.home-section-details {
  padding: 10px 10px 10px 10px;
}

.home-section-details .row {
  margin: 10px;
}

.header {
  display: flex;
  box-shadow: 0 -3px 10px black;
}

.tab {
  flex-grow: 1;
  text-align: center;
  background-color: #3598bf;
  color: #addeea;
  padding: max(1.75vh, 10px);
}

.tab:not(.active-tab):hover {
  background-color: #70b8d5;
  cursor: pointer;
  color: black;
}

.active-tab {
  background-color: #addeea;
  color: black;
}

#page {
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  height: calc(100% - 70px);
  padding: 10px 0px;
  overflow: auto;
}

#page:after {
  content: "";
  display: block;
  height: 10px;
  width: 100%;
}

.item-container {
  background-color: #ffffff;
  margin: 10px;
  width: 100%;
  border-radius: 15px;
}

.simple-item-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
}

.item-details {
  display: flex;
  flex-direction: column;
  background-color: #addeea;
  padding: 10px 0px;
  border-radius: 0 0 10px 10px;
  font-size: max(2vh, 18px);
  transition: height 0.5s;
  height: max(24vh, 255px); /* Needed for height transition */
  overflow: hidden;
}

.height-hidden {
  height: 0;
  padding: 0;
}

.row {
  display: flex;
  margin: 4px 10px;
  background-color: white;
  border-radius: 10px;
}

.key {
  width: 25%;
  min-width: 130px;
  padding: 5px 25px;
  border-radius: 10px 0 0 10px;
  background-color: #3598bf;
  color: white;
  font-weight: bold;
}

.value {
  padding: 5px 25px;
  flex-grow: 1;
}

.item-name {
  flex-grow: 1;
  margin: 10px;
}

.display-hidden {
  display: none;
}

.icon {
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #f2935d;
  width: max(5.5vh, 44px);
  height: max(5.5vh, 44px);
  display: inline-block;
  border-radius: max(2.75vh, 22px);
  box-shadow: 1px 2px 1px #864018;
  margin: 5px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.icon:hover {
  opacity: 80%;
  cursor: pointer;
}

.item-icon {
  height: max(7.5vh, 55px);
  margin: 5px;
}

input[type="checkbox"]:checked + .icon {
  background-color: #9ca7b3;
  box-shadow: none;
}

.caught-label {
  background-image: url("images/net.png");
}

input[data-attr-name="caught"] + .icon {
  background-image: url("images/net.png");
}

input[data-attr-name="donated"] + .icon {
  background-image: url("images/museum.png");
}

@media (orientation: landscape) {
  body {
    flex-direction: row;
  }

  .menu {
    order: 0;
    flex-direction: column;
  }

  .menu img {
    width: 50px;
    height: auto;
  }

  #context-menu-icon {
    order: 0;
    padding: 5px 10px;
  }

  #context-menu {
    position: absolute;
    width: 250px;
  }

  #main-content {
    height: auto;
  }

  .item-container {
    max-width: 450px;
  }
}
