body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url(boston.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: table-cell;
  vertical-align: middle;
}

.container {
  border-collapse: collapse;
  margin: auto;
}

.cell {
  padding: 0;
  border: solid gray 3px;
  font-size: 50px;
  text-align: center;
  user-select: none;
  background-color: white;
  box-shadow: inset 5px 5px black, inset -5px -5px black;
}

.cell img {
  display: block;
  pointer-events: none;
  margin: 5px;
}

.spacer {
  visibility: hidden;
  border-left-color: transparent;
}

.spacer.top {
  border-top-color: transparent;
}

.spacer.bottom {
  border-bottom-color: transparent;
}

.highlighted {
  background-color: #3366ff;
}

#category {
  width: 800px;
  background-image: linear-gradient(
    to right,
    rgba(48, 0, 91, 0),
    rgba(48, 0, 91, 0.9),
    rgba(48, 0, 91, 1),
    rgba(48, 0, 91, 0.9),
    rgba(48, 0, 91, 0)
  );
  margin: auto;
  text-align: center;
  color: white;
  font-size: 30px;
  border-top: solid white 1px;
  border-bottom: solid white 1px;
  padding: 5px;
  margin-top: 30px;
}

#player-container {
  width: 840px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 10vh;
  display: flex;
}

.player {
  flex-grow: 1;
  color: white;
  font-size: 30px;
  font-weight: bold;
  background-size: contain;
  background-repeat: no-repeat;
  width: 280px;
  height: 117px;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
}

#player1 {
  background-image: url("player1.png");
}

#player2 {
  background-image: url("player2.png");
}

#player3 {
  background-image: url("player3.png");
}
