body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url(boston.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  border-collapse: collapse;
}

.cell {
  padding: 0;
  border: solid gray 3px;
  font-size: 50px;
  text-align: center;
  user-select: none;
  background-color: white;
  box-shadow: inset 5px 5px black, inset -5px -5px black;
}

.cell img {
  display: block;
  pointer-events: none;
  margin: 5px;
}

.spacer {
  visibility: hidden;
  border-left-color: transparent;
}

.spacer.top {
  border-top-color: transparent;
}

.spacer.bottom {
  border-bottom-color: transparent;
}

.highlighted {
  background-color: #3366ff;
}

#category {
  width: 800px;
  background-image: linear-gradient(
    to right,
    rgba(48, 0, 91, 0),
    rgba(48, 0, 91, 0.9),
    rgba(48, 0, 91, 1),
    rgba(48, 0, 91, 0.9),
    rgba(48, 0, 91, 0)
  );
  text-align: center;
  color: white;
  font-size: 30px;
  border-top: solid white 1px;
  border-bottom: solid white 1px;
  padding: 5px;
  margin-top: 30px;
}

#player-container {
  margin-top: 40px;
  display: flex;
  margin-bottom: 10vh;
}

.player {
  color: white;
  font-size: 30px;
  font-weight: bold;
  background-size: contain;
  background-repeat: no-repeat;
  width: 280px;
  text-align: center;
  box-sizing: border-box;
  text-shadow: 3px 3px 3px black, -1px -1px 3px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;

  --gradient-hue: 360;
  --hue-mod-multiplier: 1;
  --brightness-modifier: 0%;

  --gradient-color-1: hsl(
    var(--gradient-hue),
    100%,
    calc(18% + var(--brightness-modifier))
  );
  --gradient-color-2: hsl(
    var(--gradient-hue),
    75%,
    calc(30% + var(--brightness-modifier))
  );
  --gradient-color-3: hsl(
    calc(var(--gradient-hue) - (45 * var(--hue-mod-multiplier))),
    82%,
    calc(50% + var(--brightness-modifier))
  );
  --gradient-color-4: hsl(
    calc(var(--gradient-hue) - (10 * var(--hue-mod-multiplier))),
    100%,
    calc(24% + var(--brightness-modifier))
  );
  --gradient-color-5: hsl(
    calc(var(--gradient-hue) - (15 * var(--hue-mod-multiplier))),
    100%,
    calc(28% + var(--brightness-modifier))
  );
  --gradient-color-6: hsl(
    calc(var(--gradient-hue) - (23 * var(--hue-mod-multiplier))),
    100%,
    calc(38% + var(--brightness-modifier))
  );

  background-image: linear-gradient(
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(
      to right,
      var(--gradient-color-1),
      var(--gradient-color-2),
      var(--gradient-color-3),
      var(--gradient-color-4),
      var(--gradient-color-4),
      var(--gradient-color-5),
      var(--gradient-color-5),
      var(--gradient-color-1),
      var(--gradient-color-5),
      var(--gradient-color-1),
      var(--gradient-color-1),
      var(--gradient-color-1),
      var(--gradient-color-1),
      var(--gradient-color-1),
      var(--gradient-color-1),
      var(--gradient-color-1),
      var(--gradient-color-1),
      var(--gradient-color-4),
      var(--gradient-color-1),
      var(--gradient-color-6),
      var(--gradient-color-4),
      var(--gradient-color-4),
      var(--gradient-color-4),
      var(--gradient-color-4),
      var(--gradient-color-1),
      var(--gradient-color-1)
    );
}

#player1 {
  --gradient-hue: 360;
  --hue-mod-multiplier: 0.5;
}

#player2 {
  --gradient-hue: 55;
  --brightness-modifier: 10%;
  --hue-mod-multiplier: 0.25;
}

#player3 {
  --gradient-hue: 240;
}

.banner {
  width: 290px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 117px;
  margin: 5px;
}

.banner-edge {
  background-image: linear-gradient(white, #c6c6d9, #5c5c6a, #5c5c6a);
  width: 290px;
  height: 10px;
  border-radius: 10px;
}

.money {
  display: flex;
  justify-content: center;
}

.flip-digit {
  height: 38px;
  line-height: 38px;
  overflow-y: hidden;
}

.number-card {
  height: 100%;
  /*
  The text-shadow overflows and overflow is hidden, so there's a sharp cutoff line through the
  shadow. I can't seem to get overflow-x to be visible while overflow-y is hidden. Instead, just set
  the width of the div to be wide enough for the shadow. But the inherited shadow is a bit too wide.
  Having to finish the shadow before starting the next character leaves awkward spacing between the
  digits. Reduce the first shadow by a pixel so the width can be a bit smaller.
 */
  width: 25px;
  text-shadow: 2px 2px 3px black, -1px -1px 3px black;
}
